
.App-logo {
  height: 40vh;
  pointer-events: none;
}

.app-container {
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5vh;
  width: 100vw;
  text-align: center;
}


.ball{
  height: 10vh;
}

.footer{
  padding-top: 1vh;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100vw;
  color: white;
  border-top: 2px solid rgb(87, 87, 87);
  position: relative;
  bottom: 0;
}

.form-container{
  display: flex;
  justify-content: center;
}

.cardImage{
  border: 5px rgb(255, 78, 25) solid;
  border-radius: 10%;
}

.cardtextWrapper{
  padding: 5px;
  text-align: start;
}

.card-container{
  display: flex;
}

@media only screen and (max-width: 768px) {
  .card-container{
    display:block;
  }
  .form-container{
    display: block;
    justify-content: center;
  }
}

.cardName{
  font-size: 1.2rem;
}

.cardText{
  font-size: 1rem;
}

.card-subtitle{
  color:rgb(173, 173, 173) !important;
}

.subtitle{
  color:rgb(215, 210, 210) !important;
  font-weight: bold !important;
}

.resultado{
  font-style: italic;
  text-decoration: underline;
  margin-top: 2vh;
}